<mat-nav-list>
  <mat-list-item routerLink="{{url}}">
    <mat-card-title-group *ngIf="player">
      <mat-card-title class="player-list-title">
        {{player.nameFirst}} {{player.nameLast}}
      </mat-card-title>
      <mat-card-subtitle *ngIf="player">

        <app-label-value label="Throws/Bats" value="{{player.throws}}/{{player.bats}}">
        </app-label-value>
        <app-label-value label="Born" value="{{player.birthMonth}}/{{player.birthDay}}/{{player.birthYear}}">
        </app-label-value>
        <span class="birth-city" *ngIf="player.birthCity">in {{player.birthCity}} </span>
        <span class="birth-state" *ngIf="player.birthState">{{player.birthState}}, </span>
        <span class="birth-country" *ngIf="player.birthCountry">{{player.birthCountry}}</span>
        <app-label-value *ngIf="player.deathYear" 
                         label="Died"
                         value="{{player.deathMonth}}/{{player.deathDay}}/{{player.deathYear}}">
        </app-label-value>

      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-list-item>
</mat-nav-list>
