::ng-deep th.mat-header-cell
    width: 50px
    min-width: 50px
    
    justify-content: center

.filter-input
    text-align: left

.stat-table
    overflow:scroll
    min-width: 50%

.mat-row:hover
    background-color: azure
    
.mat-cell
    font-size: 12px
    text-align: center
