<form class="search-form" [formGroup]='playersForm'>
  <mat-form-field class="search-full-width">
    <input matInput placeholder="Search Players" [matAutocomplete]="auto" formControlName="userInput">
  </mat-form-field>
  <mat-autocomplete class="search-autocomplete" #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngIf="isLoading" class="is-loading">
      <mat-spinner diameter="50"></mat-spinner>
    </mat-option>
    <mat-option *ngFor="let player of players | async" [value]="player"
      routerLink="../player-detail/{{player.playerId}}">
      <nav>
        {{player.nameFirst}} {{player.nameLast}}
        <small> | Born: {{player.birthMonth}}/{{player.birthDay}}/{{player.birthYear}} </small>
      </nav>
    </mat-option>
  </mat-autocomplete>
</form>