<mat-card class="batting-leaderboard-card">
    <mat-card-title>Batting Leaderboard By Year</mat-card-title>
    <mat-card-content>
        Please Select a Year:
        <mat-form-field>
            <mat-label>Year</mat-label>
            <mat-select (selectionChange)="onChange($event)">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let year of validYears" [value]="year">{{year}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
</mat-card>
<mat-card class="batting-leaderboard">
    <mat-card-title class="leaderboard-title" *ngIf="year">{{year}} Batting Leaderboard</mat-card-title>
    <app-data-table class="leaderboard-table" *ngIf="battingLeaderboard" [data] = "battingLeaderboard" [propertyToLabelMap] = "battingPropertyToLabelMap"></app-data-table>
</mat-card>