<div class="batting-leaderboard-div">
    <mat-card class="batting-leaderboard-card mat-elevation-z8">
        <mat-card-title>Batting Leaderboard By Year</mat-card-title>
        <mat-card-content>
            Please Select a Year:
            <mat-form-field>
                <mat-label>Year</mat-label>
                <mat-select (selectionChange)="onChange($event)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let year of validYears" [value]="year">{{year}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{year}} Batting Leaderboard</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <mat-tab-group class="stat-tab-group" color="accent" [selectedIndex]="0">
                            <mat-tab label="Regular-Season Batting">
                                <ng-template matTabContent>
                                    <app-data-table class="leaderboard-table" *ngIf="battingLeaderboard"
                                        [data]="battingLeaderboard" [propertyToLabelMap]="battingPropertyToLabelMap">
                                    </app-data-table>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Post-Season Batting">
                                <ng-template matTabContent>
                                    <app-data-table class="post-leaderboard-table" *ngIf="battingPostLeaderboard"
                                        [data]="battingPostLeaderboard"
                                        [propertyToLabelMap]="battingPostPropertyToLabelMap">
                                    </app-data-table>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>