<div class="batting-leaderboard-div">
    <mat-card class="batting-leaderboard-card mat-elevation-z8">
        <mat-card-title>Batting Leaderboard By Year</mat-card-title>
        <mat-card-content>
            <app-year-select (yearChange)="updateData($event)"></app-year-select>
            <mat-accordion>
                <mat-expansion-panel *ngIf="battingLeaderboard" [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{year}} Regular-Season Leaderboard</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="min-ab">* minimum 100 Atbats.</p>
                    <ng-template matExpansionPanelContent>
                        <mat-tab-group class="stat-tab-group" color="accent" [selectedIndex]="0">
                            <mat-tab label="Box Stats">
                                <ng-template matTabContent>
                                    <app-basic-batting-table *ngIf="battingLeaderboard" [data]="battingLeaderboard"
                                        (rowClick)="goToPlayer($event)">
                                    </app-basic-batting-table>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Advanced Stats">
                                <ng-template matTabContent>
                                    <app-advanced-batting-table *ngIf="battingLeaderboard" [data]="battingLeaderboard"
                                        (rowClick)="goToPlayer($event)">
                                    </app-advanced-batting-table>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="battingPostLeaderboard" [expanded]="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{year}} Post-Season Leaderboard</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <mat-tab-group class="stat-tab-group" color="accent" [selectedIndex]="0">
                            <mat-tab label="Box Stats">
                                <ng-template matTabContent>
                                    <app-basic-batting-table *ngIf="battingPostLeaderboard"
                                        [data]="battingPostLeaderboard" (rowClick)="goToPlayer($event)">
                                    </app-basic-batting-table>
                                </ng-template>
                            </mat-tab>
                            <mat-tab label="Advanced Stats">
                                <ng-template matTabContent>
                                    <app-advanced-batting-table *ngIf="battingPostLeaderboard"
                                        [data]="battingPostLeaderboard" (rowClick)="goToPlayer($event)">
                                    </app-advanced-batting-table>
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>