<mat-form-field>
    <input class="filter-input" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Table">
</mat-form-field>
<div class="mat-elvation-z8">
    <table class="basic-pitching-table" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="yearId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.yearId}}</td>
        </ng-container>

        <ng-container matColumnDef="teamId" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Team</th>
            <td mat-cell class="logo-cell" *matCellDef="let pitching" matTooltip="{{pitching.teamId}}">
                <img src="assets/logos/{{pitching.teamId}}.png" height="30" alt="{{pitching.teamId}}"></td>
        </ng-container>

        <ng-container matColumnDef="lgId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>League</th>
            <td mat-cell class="logo-cell" *matCellDef="let pitching" matTooltip="{{pitching.lgId}}">
                <img src="assets/logos/{{pitching.lgId}}.png" height="30" alt="{{pitching.lgId}}"></td>
        </ng-container>

        <ng-container matColumnDef="w">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Wins">W</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.w}}</td>
        </ng-container>

        <ng-container matColumnDef="l">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Losses">L</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.l}}</td>
        </ng-container>

        <ng-container matColumnDef="g">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Games">G</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.g}}</td>
        </ng-container>

        <ng-container matColumnDef="gs">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Games Started">GS</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.gs}}</td>
        </ng-container>

        <ng-container matColumnDef="cg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Complete Games">CG</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.cg}}</td>
        </ng-container>

        <ng-container matColumnDef="sho">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Shut outs">SHO</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.sho}}</td>
        </ng-container>

        <ng-container matColumnDef="sv">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Saves">SV</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.sv}}</td>
        </ng-container>
        
        <ng-container matColumnDef="ipouts">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Outs Pitched">IPOUTS</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.ipouts}}</td>
        </ng-container>
        
        <ng-container matColumnDef="h">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Hits Allowed">H</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.h}}</td>
        </ng-container>
        
        <ng-container matColumnDef="er">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Earned Runs Allowed">ER</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.er}}</td>
        </ng-container>

        <ng-container matColumnDef="hr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Home Runs Allowed">HR</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.hr}}</td>
        </ng-container>
        
        <ng-container matColumnDef="bb">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Walks Allowed">BB</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.bb}}</td>
        </ng-container>
        
        <ng-container matColumnDef="so">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Strikeouts">K</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.so}}</td>
        </ng-container>

        <ng-container matColumnDef="baopp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Opponents Batting Average">BAOPP</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.baopp}}</td>
        </ng-container>
        
        <ng-container matColumnDef="era">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Earned Run Average">ERA</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.era | number : '1.2-2'}}</td>
        </ng-container>
        
        <ng-container matColumnDef="ibb">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Intentional Walks Allowed">IBB</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.ibb}}</td>
        </ng-container>
        
        <ng-container matColumnDef="wp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Wild Pitches">WP</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.wp}}</td>
        </ng-container>
        
        <ng-container matColumnDef="hbp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Hit By Pitches">HBP</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.hbp}}</td>
        </ng-container>

        <ng-container matColumnDef="bk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Balks">BK</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.bk}}</td>
        </ng-container>
        
        <ng-container matColumnDef="bfp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Batters Faced">BFP</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.bfp}}</td>
        </ng-container>
        
        <ng-container matColumnDef="gf">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Games Finished">GF</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.gf}}</td>
        </ng-container>
        
        <ng-container matColumnDef="r">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Runs Allowed">R</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.r}}</td>
        </ng-container>
        
        <ng-container matColumnDef="sh">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Sacrifice Hits Allowed">SH</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.sh}}</td>
        </ng-container>
        
        <ng-container matColumnDef="sf">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Sacrifice Flies Allowed">SF</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.sf}}</td>
        </ng-container>
        
        <ng-container matColumnDef="gidp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Ground Into Double Plays Induced">GIDP</th>
            <td mat-cell *matCellDef="let pitching">{{pitching.gidp}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"(click)="itemClick(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
</div>