<div>
  <mat-toolbar class="main-toolbar mat-elevation-z12" color="primary">
    <mat-toolbar-row class="main-toolbar-row">
      <button mat-icon-button matTooltip="Home" routerLink="/home-page">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button routerLink="/batting-leaderboard/2018">Players</button>
      <button mat-button routerLink="/teams/standings/2018">Teams</button>
      <button mat-button routerLink="/papers">Papers</button>
      <span class ="filler"></span>
      <app-player-search class="top-menu-search"></app-player-search>
    </mat-toolbar-row>
  </mat-toolbar>
</div>