<div class="mat-elevation-z8">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="main-toolbar-row">
      <app-player-search class="top-menu-search"></app-player-search>
      <button mat-button routerLink="/home-page">Home</button>
      <button mat-button [matMenuTriggerFor]="players">Players</button>
      <mat-menu #players="matMenu">
        <button mat-menu-item routerLink="/player-search">Search</button>
        <button mat-menu-item routerLink="/batting-leaderboard">Batting Leaderboard</button>
        <button mat-menu-item>Pitcher Leaderboard</button>
      </mat-menu>
      <button mat-button>Teams</button>
      <span class ="fill-space"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>