<div class="team-stat-div">
  <mat-card class="team-detail-card">
    <mat-card-title>
      <app-team-detail *ngIf="team" [team]="team[0]"></app-team-detail>
    </mat-card-title>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel *ngIf="team" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Batting Statistics</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-tab-group class="stat-tab-group" color="accent" [selectedIndex]="0">
              <mat-tab label="Box Stats">
                <ng-template matTabContent>
                  <app-data-table class="basic-batting-table" *ngIf="team" [data]="team"
                    [propertyToLabelMap]="battingPropertyToLabelMap" (rowClick)="goToTeam($event)">
                  </app-data-table>
                </ng-template>
              </mat-tab>
              <mat-tab label="Advanced Stats">
                <ng-template matTabContent>
                  <app-data-table class="advanced-batting-table" *ngIf="team" [data]="team"
                    [propertyToLabelMap]="advancedBattingPropertyToLabelMap" (rowClick)="goToTeam($event)">
                  </app-data-table>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="team" [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>Pitching Statistics</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-tab-group class="stat-tab-group" color="accent" [selectedIndex]="0">
              <mat-tab label="Box Stats">
                <ng-template matTabContent>
                  <app-data-table class="basic-pitching-table" *ngIf="team" [data]="team"
                    [propertyToLabelMap]="pitchingPropertyToLabelMap" (rowClick)="goToTeam($event)">
                  </app-data-table>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>