<mat-divider></mat-divider>
<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>Leaderboards</mat-expansion-panel-header>
    <mat-nav-list dense>
        <mat-list-item routerLink="/batting-leaderboard/2018">Batting</mat-list-item>
        <mat-list-item routerLink="/pitching-leaderboard/2018">Pitching</mat-list-item>
    </mat-nav-list>
</mat-expansion-panel>
<mat-divider></mat-divider>
<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>Teams</mat-expansion-panel-header>
    <mat-nav-list dense>
        <mat-list-item routerLink="/teams">Team List</mat-list-item>
        <mat-list-item routerLink="/teams/standings/2018">Standings</mat-list-item>
    </mat-nav-list>
</mat-expansion-panel>
<mat-divider></mat-divider>
<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>Example Links</mat-expansion-panel-header>
    <mat-nav-list dense>
        <mat-list-item routerLink="/player/suzukic01">Ichiro Player Page</mat-list-item>
        <mat-list-item routerLink="/batting-leaderboard/2000">2000 Batting Leaders</mat-list-item>
        <mat-list-item routerLink="/teams/standings/1974">1974 Team Standings</mat-list-item>
    </mat-nav-list>
</mat-expansion-panel>
<mat-divider></mat-divider>