<div *ngIf="playerForm" [formGroup]="playerForm">
  <div>
    <mat-form-field>
      <input matInput formControlName="firstName" placeholder="First Name" />
      <mat-error *ngIf="playerForm.hasError('required')">
        First name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

  </div>
  <div>
    <mat-form-field>
      <input matInput formControlName="lastName" placeholder="Last Name" />
      <mat-error *ngIf="playerForm.hasError('required')">
        Last name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
</div>

