<mat-card class="search-player-card">
  <form (ngSubmit)="onSubmit()">
    <app-player-search-form [playerForm]="playerForm"> </app-player-search-form>
    <div *ngIf="playerId; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <app-player-list [playerForm]="playerForm" [url]="url"></app-player-list>
    </ng-template>
    <ng-template #elseBlock>
      <p>No Player Found</p>
    </ng-template>
    <div>
      <button mat-raised-button type="submit" [disabled]="!playerForm.valid">Search</button>
    </div>
  </form>
</mat-card>
