.home-page-div
  display: flex
  justify-content: center

.home-page-card
  font-family: "Georgia"

.home-page-card-title
  text-align: center
  font-weight: bold

mat-card-subtitle
  font-weight: bold
  font-size: 20px
  text-align: center

mat-card-content
  font-size: 18px
  line-height: 1.5
