<mat-form-field>
    <input class="filter-input" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Table">
</mat-form-field>
<div class="mat-elvation-z8">
    <table class="player-table" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="yearId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
            <td mat-cell *matCellDef="let fielding">{{fielding.yearId}}</td>
        </ng-container>

        <ng-container matColumnDef="teamId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Team</th>
            <td mat-cell class="logo-cell" *matCellDef="let fielding" matTooltip="{{fielding.teamId}}">
                <img src="assets/logos/{{fielding.teamId}}.png" height="30" alt="{{fielding.teamId}}"></td>
        </ng-container>

        <ng-container matColumnDef="lgId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>League</th>
            <td mat-cell class="logo-cell" *matCellDef="let fielding" matTooltip="{{fielding.lgId}}">
                <img src="assets/logos/{{fielding.lgId}}.png" height="30" alt="{{fielding.lgId}}"></td>
        </ng-container>

        <ng-container matColumnDef="pos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Position">POS</th>
            <td mat-cell *matCellDef="let fielding">{{fielding.pos}}</td>
        </ng-container>

        <ng-container matColumnDef="g">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Games">G</th>
            <td mat-cell *matCellDef="let fielding">{{fielding.g}}</td>
        </ng-container>

        <ng-container matColumnDef="gs">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Games Started">GS</th>
            <td mat-cell *matCellDef="let fielding">{{fielding.gs}}</td>
        </ng-container>

        <ng-container matColumnDef="innOuts">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Outs Played in the Field">INNOUTS</th>
            <td mat-cell *matCellDef="let fielding">{{fielding.innOuts}}</td>
        </ng-container>

        <ng-container matColumnDef="po">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Putouts">PO</th>
            <td mat-cell *matCellDef="let fielding">{{fielding.po}}</td>
        </ng-container>

        <ng-container matColumnDef="a">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Assists">A</th>
            <td mat-cell *matCellDef="let fielding">{{fielding.a}}</td>
        </ng-container>

        <ng-container matColumnDef="e">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Errors">E</th>
            <td mat-cell *matCellDef="let fielding">{{fielding.e}}</td>
        </ng-container>

        <ng-container matColumnDef="dp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Double Plays">DP</th>
            <td mat-cell *matCellDef="let fielding">{{fielding.dp}}</td>
        </ng-container>

        <ng-container matColumnDef="zr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Zone Rating">ZR</th>
            <td mat-cell *matCellDef="let fielding">{{fielding.zr}}</td>
        </ng-container>

        <ng-container matColumnDef="pb">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Passed Balls (Catcher)">PB</th>
            <td mat-cell *matCellDef="let fielding">{{fielding.pb}}</td>
        </ng-container>

        <ng-container matColumnDef="wp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Wild Pitches (Catcher)">WP</th>
            <td mat-cell *matCellDef="let fielding">{{fielding.wp}}</td>
        </ng-container>

        <ng-container matColumnDef="sb">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Opponents Stolen Bases (Catcher)">SB</th>
            <td mat-cell *matCellDef="let fielding">{{fielding.sb}}</td>
        </ng-container>

        <ng-container matColumnDef="cs">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Opponents Caught Stealing (Catcher)">CS
            </th>
            <td mat-cell *matCellDef="let fielding">{{fielding.cs}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"(click)="goToPlayer(row)"></tr>
</div>