::ng-deep th.mat-header-cell
    width: 50px
    min-width: 50px
::ng-deep td.mat-cell
    width: 50px
    min-width: 50px

.mat-row:hover
    background-color: azure
    
.mat-form-field 
  font-size: 14px
  width: 100%
